
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Arial, sans-serif;
}


.navBar {
    position: fixed;
    display: flex;
    background-color: #222222;
    color: #FFF;
}
#navBar__youtubeIcon {
    width: 3%;
}
#navBar__searchBtn {
    background-color: #f5f4f4;
    border: none;
    color: #a0a0a0;
}


iframe {
    margin: 1rem 0;
}
#video-description {
    margin-top: 0.7rem;
    width: 80%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#channel-title {
    font-style: italic;
    margin-top: 0.7rem;
}
#video-title {
    margin: 0.7rem 0;
    font-weight: 500;
    width: 70%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#errorMsg {
    text-align: center;
}

.pagination {
    display: inline-block;
    margin-bottom: 1rem;
}
.paginate {
    margin-right: 1rem;
    text-decoration: none;
    color: #464547;
    border: 1px solid #000;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}
.paginate:hover {
    cursor: pointer;
    border: 1px solid #000;
    border-left: none;
    background-color: #263852;
    color: #FFF;
}



@media screen and (min-width: 751px) {

    .navBar {
        padding: 0.5rem 0 0.5rem 3rem;
    }
    #navBar__keyword-input {
        border: none;
        font-size: 1rem;
        padding: .4rem 2rem .4rem 2rem;
        width: 45%;
    }
    #navBar__title {
        flex: 3;
        font-size: xx-large;
        padding-left: 0.5rem;
    }
    #navBar__searchBtn {
        margin-right: 2rem;
        font-size: 1rem;
        padding: .6rem 2rem .6rem 2rem;
    }


    #videoListContainer {
        padding: 5rem 1rem 0 3rem;
    }
    .videoListContainer__videosarrange {
        display: flex;
    }
    iframe {
        width: 20vw;
        margin-right: 0.7rem;
    }
    
    
}

@media screen and (min-width: 421px) and (max-width: 750px) {

    #navBar__title {
        flex: 1;
        visibility: hidden;
    }
    #navBar__searchBtn {
        width: 10%;
        padding: 0 2rem;
        margin-right: 2rem;
    }
    #navBar__youtubeIcon {
        width: 10%;
        margin-left: 1rem;
    }
    #navBar__keyword-input {
        border: none;
        padding: 0 1rem;
        width: 50%;
    }

    .videoListContainer__videosarrange {
        display: flex;
    }
    #videoListContainer {
        padding: 3rem 0 0 1rem;
    }
    #videoListContainer h2 {
        margin-top: 10rem;
    }
    iframe {
        height: 10vh;
        margin-right: 1rem;
    }
    
}

@media screen and (max-width: 420px) {

    .navBar {
        padding: 0.5rem 0;
    }
    #navBar__title {
        display: none;
    }
    #navBar__youtubeIcon {
        width: 15%;
        margin-left: 1rem;
    }
    #navBar__searchBtn {
        padding: 0 1rem;
        margin-right: 1rem;
    }
    #navBar__keyword-input {
        margin-left: 2rem;
        border: none;
        padding: 5%;
    }


    #videoListContainer {
        padding: 3rem 0 0 1rem;
    }
    #videoListContainer h2 {
        margin-top: 3rem;
    }
    iframe {
        width: 90vw;
        height: 15vh;
        display: flex;
        flex-direction: column;
    }

}
